<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">    


    <link rel="stylesheet" href="{% static 'pages/css/footer.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/86f0938acd.js" crossorigin="anonymous"></script>

    <title>Sparq</title>
</head>
<body>
    <footer>
        <div class="footer__container">
        <hr>
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About Us</h2>
                    <a href="{% url 'about_view' %}#who-we-are">Who We Are </a>
                    <a href="{% url 'about_view' %}#employee"> Our Crew </a>
                    <a href="{% url 'about_view' %}#locations"> Our Locations </a>
                    <a href="{% url 'about_view' %}#partners_div"> Our Partners </a>
                </div>
                <!-- <div class="vl"></div> -->
                <div class="footer__link--items" id="contact-us">
                    <h2>Contact Us</h2>
                    <a href="{% url 'contact_view' %}"> Contact</a>
                    <a href="{% url 'contact_view' %}"> Support </a>
                </div>
                <!-- <div class="vl"></div> -->
            </div>
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>What We Have</h2>
                    <a href="{% url 'solutions_view' %}#network-head" > Network Solutions </a>
                    <a href="{% url 'solutions_view' %}#digital-head"> Digital Marketing </a>
                    <a href="{% url 'solutions_view' %}#design-head"> Design & Development </a>
                    <a href="{% url 'solutions_view' %}#data-head"> Data Science & Analytics </a>
                    <a href="{% url 'solutions_view' %}#training-head"> Training & Development </a>
                    <a href="{% url 'solutions_view' %}#blockchain-head"> BlockChain Technology </a>
                </div>
                <!-- <div class="vl"></div> -->
                <div class="footer__link--items">
                    <h2>Social Media</h2>
                    <a href="/"> Instagram </a>
                    <a href="/"> Facebook </a>
                    <a href="/"> LinkedIn </a>
                    <a href="/"> Twitter </a>
                </div>
            </div>
        </div>
        <section class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <img src="{% static 'pages/img/pdec-logo-white.png' %}" />
                </div>
                <p class="website__rights">Elaris©, All Right Reserved Elaris</p>
                <div class="social__icons">
                    <a href="https://www.facebook.com/pdelarisco" class="social__icon--link" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/pd.elaris/" class="social__icon--link"  target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/pdelaris/" class="social__icon--link"  target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </section>
        <div id="back-to-top" class="back-to-top">
            <button onclick="topFunction()" class="btn btn-dark" title="Back to Top" style="display: block;">
                <i class="fa fa-arrow-up"></i>
            </button>
        </div>
    </div>

    </footer>
    <script>
        //Get the button
        var mybutton = document.getElementById("back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
    </script>

</body>
</html>