<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block tags %}
    {% endblock %}

    {% block title %}
    <title>PDE | Age Of Intelligence </title>
    {% endblock %}m

    {% block extra_css %}
    	<link rel="stylesheet" href="{% static 'pages/css/index.css' %}">
    {% endblock %}

 </head>
<body>

    {% block content %}
        <div class="main__container">
            <div class="container__top"  data-aos="fade">
{#                <img class="img__top" alt="top-img" src="{% static 'pages/img/back_1.png' %}" />#}
                <div class="int__container">
                    AGE OF INTELLIGENCE
                </div>
            </div>
            <div class="about__container">
                <div class="about__img">
                    <img class="" alt="about-img" src="{% static 'pages/img/modern-3.png' %}" />
                </div>
                <div class="about__1">
                    <div class="about__top">
                        <div class="about__top__1">
                            Keep Up With The
                        </div>
                        <div class="about__top__2">
                            Modernizing Wolrd
                        </div>
                        <div class="about__btn__wrapper">
                        <a  class="about__btn" href="/contact" title="contact-link"> Contact Us </a>
                    </div>
                    </div>
                </div>

            </div>

            <!-- Solutions -->
            <div class="sol__container">                
                <h1> Solutions </h1>
                <div class="sol__wrapper"  data-aos="fade">
                    <div class="sol__card">
                        <h2> Network Solutions </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, magni?</p>
                        <img src="" alt="network-img">
                        <div class="more__btn">
                            <a href="{% url 'solutions_view' %}#network-head"> Learn More </a>
                        </div>
                    </div>
                    <div class="sol__card">
                        <h2> Design & Development </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, magni?</p>
                        <img src="" alt="design-img">
                        <div class="more__btn">
                            <a href="{% url 'solutions_view' %}#design-head"> Learn More </a>
                        </div>
                    </div>
                    <div class="sol__card">
                        <h2> Data Science & Analytics </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, magni?</p>
                        <img src="" alt="data-img">
                        <div class="more__btn">
                            <a href="{% url 'solutions_view' %}#data-head"> Learn More </a>
                        </div>
                    </div>
                    <div class="sol__card">
                        <h2> Training & Development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, magni?</p>
                        <img src="" alt="training-img">
                        <div class="more__btn">
                            <a href="{% url 'solutions_view' %}#training-head"> Learn More </a>
                        </div>
                    </div>
                    <div class="sol__card">
                        <h2> BlockChain Technology </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, magni?</p>
                        <img src="" alt="blockchain-img">
                        <div class="more__btn">
                            <a href="{% url 'solutions_view' %}#blockchain-head"> Learn More </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Join -->
            <div class="join__container">
                <h1> Careers </h1>
                <div class="join__info">
                    <div class="join__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </div>
                    <img src="" alt="join-img">
                </div>
                <h3>  Current Vacancies </h3>
                <div class="join__wrapper">
                    {% for job in jobs %}
                    <div class="join__card">
                        <p> {{ job.title }} </p>
                        <div class="apply__btn">
                            <a href="{% url 'job_detail' job.id%}"> Apply Now </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</body>

</html>