<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block tags %}
    {% endblock %}

    {% block title %}
    <title>PDE | Solutions </title>
    {% endblock %}

    {% block extra_css %}
    	<link rel="stylesheet" href="{% static 'pages/css/solutions.css' %}">
    {% endblock %}

 </head>
<body>

    {% block content %}
        <div class="main__container">
            <div class="top__container">
                    <div class="top__head">
                        Elaris Solutions
                    </div>
                <img src="{% static 'pages/img/back_1.png' %}" alt="">               
               <div class="top__desc">
                   <div class="top__1">
                       <img class="" alt="top-img" src="{% static 'pages/img/cloud-computing.png' %}" />
                   </div>
                   <div class="top__2">
                       dynamic technological solutions provider that takes pride in its capacity to offer specialised solutions to address specific company needs.
                   </div>
                   <div class="top__3">
                       <img class="" alt="top-img" src="{% static 'pages/img/design-software.png' %}" />
                   </div>
               </div>
            </div>  

            <!-- Network -->

            <div class="solutions__head" id="network-head" data-aos="fade"> Network </div>
            <div class="solutions__info" id="network-info">
                <div class="info__wrapper">
                    <div class="solutions__info__desc" id="network-info-desc">
                        <div class="info__1__1" id="network-info1"> Improve Your </div>
                        <div class="info__1__2" id="network-info1-2"> Network Practices </div>
                        <div class="info__2" id="network-info2">With Us</div>                    
                    </div>
                    <div class="info__3" id="network-info3">
                        <a href="{% url 'contact_view' %}"> Contact Us </a>
                    </div>
                </div>
                <div class="solutions__gif">
                    <lord-icon
                        src="https://cdn.lordicon.com/qtiwxsuo.json"
                        trigger="loop"
                        delay="3000"
                        colors="primary:#ff6a88,secondary:#ff99ac"
                        style="width:250px;height:250px">
                    </lord-icon>                    
                </div>
            </div>
            <div class="solutions__container" id="network" data-aos="fade">
                {% for solution in solutions %}
                    {% if solution.solution_category == 'Network' %}
                    <div class="solutions__wrapper">
                        <div class="solutions__card">                            
                            <div class="div__1">
                                <div class="solutions__name" id="network-name">
                                    {{ solution.name }}    
                                </div>                            
                            </div>
                            <div class="div__2">
                                <img  class="solutions__image" src="{{ solution.img.url }}" alt="sol-img" id="network-img"> 
                                <div class="solutions__desc" id="network-desc">
                                    {{ solution.desc }}
                                </div>
                            </div>
                        </div>
                    </div>
                 {% endif %}
                {% endfor %}
            </div>

            <!-- Digital Marketing -->
            <div class="solutions__head" id="digital-head"> Digital Marketing </div>
            <div class="solutions__info" id="digital-info">
            <div class="info__wrapper">
                <div class="solutions__info__desc" id="digital-info-desc">
                    <div class="info__1__1" id="digital-info1"> Improve Your </div>
                    <div class="info__1__2" id="digital-info1-2"> digital Practices </div>
                    <div class="info__2" id="digital-info2">With Us</div>                    
                </div>
                <div class="info__3" id="digital-info3">
                        <a href="{% url 'contact_view' %}"> Contact Us </a>
                </div>
            </div>                
                <div class="solutions__gif" id="network-gif">
                    <lord-icon
                        src="https://cdn.lordicon.com/wgydzbzz.json"
                        trigger="loop"
                        delay="2000"
                        colors="primary:#ee74e1,secondary:#2bd2ff"
                        style="width:250px;height:250px">
                    </lord-icon>                    
                </div>
            </div>
            <div class="solutions__container" id="digital-marketing">
                {% for solution in solutions %}
                    {% if solution.solution_category == 'Digital Marketing ' %}
                    <div class="solutions__wrapper">
                        <div class="solutions__card">
                            <div class="div__1">
                                <div class="solutions__name" id="digital-name">
                                    {{ solution.name }}
                                </div>
                            </div>
                            <div class="div__2">
                                <img  class="solutions__image" src="{{ solution.img.url }}" alt="sol-img" id="data-img">
                                <div class="solutions__desc" id="digital-desc">
                                    {{ solution.desc }}
                                </div>
                            </div>
                            <!-- <div class="div__3">
                                Some Stuff
                            </div> -->
                        </div>
                    </div>
                 {% endif %}
                {% endfor %}
            </div>

            <!-- Data Science & Analytics -->
            <div class="solutions__head" id="data-head">  Data Science & Analytics </div>
            <div class="solutions__info" id="data-info">
                <div class="info__wrapper">
                    <div class="solutions__info__desc" id="data-info-desc">
                        <div class="info__1__1" id="data-info1"> Improve Your </div>
                        <div class="info__1__2" id="data-info1-2"> data Practices </div>
                        <div class="info__2" id="data-info2">With Us</div>                    
                    </div>
                    <div class="info__3" id="data-info3">
                        <a href="{% url 'contact_view' %}"> Contact Us </a>
                </div>
                </div>
                <div class="solutions__gif">
                    <lord-icon
                        src="https://cdn.lordicon.com/tbfrtmlu.json"
                        trigger="loop"
                        delay="3000"
                        colors="primary:#784ba0,secondary:#2b86c5"
                        style="width:250px;height:250px">
                    </lord-icon>                    
                </div>
            </div>
            <div class="solutions__container" id="data-science">
                {% for solution in solutions %}
                    {% if solution.solution_category == 'Data Science & Analytics' %}
                    <div class="solutions__wrapper">
                        <div class="solutions__card">
                            <div class="div__1">
                                <div class="solutions__name" id="data-name">
                                    {{ solution.name }}
                                </div>
                            </div>
                            <div class="div__2">
                                <img  class="solutions__image" src="{{ solution.img.url }}" alt="sol-img" id="digital-img">
                                <div class="solutions__desc" id="data-desc">
                                    {{ solution.desc }}
                                </div>
                            </div>
                            <!-- <div class="div__3">
                                Some Stuff
                            </div> -->
                        </div>
                    </div>
                 {% endif %}
                {% endfor %}
            </div>

            <!-- Contact -->
            <div class="contact__div">
                <div class="contact__desc">
                    <div class="contact__top">
                        <div class="contact__top__1">
                            Interested ?
                        </div>
                        <div class="contact__top__2">
                            Let Us Know
                        </div>
                    </div>
                    <div class="contact__btn">
                        <a href="{% url 'contact_view' %}" title="contact-btn">Contact Us</a>
                    </div>
                </div>
                <img src="{% static 'pages/img/phone-call.png' %}" alt="img-1">
            </div>
        </div>
    {% endblock %}

    {% block extra_js %}
        <script src="{% static 'pages/js/solutions.js' %}" ></script>
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    {% endblock %}

</body>

</html>