.navbar {
    /* background: #1C2331; */    
    position: sticky;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;    
    top: 0;
    z-index: 10000;
    border: none;
    background: transparent;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /*  margin: top, right, bottom, left */
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background: rgb(83,82,108);
    background: linear-gradient(90deg, rgba(83,82,108,1) 0%, rgba(51,51,153,1) 44%, rgba(102,174,199,1) 100%);
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo img {
    width: 150px;
    height: 100px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: slategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    color: #333399;
}

.navbar__links:hover {
    text-decoration: none;
    color: #53526c;
}

.navbar__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #333399;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: #fff;
    box-shadow: 5px 2px 5px #66aec7;
}

.navbar__btn:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 8px 3px 8px #66aec7;
    transition: 0.2s ease-in;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        opacity: .9;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
        margin-right: 50px;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: orangered;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
        padding-left: 0;
        width: 90%;
        margin-left: 20px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40px;
        margin-left: 2rem;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .bar:nth-child(1) {
        background-color: #53526c;
            }

    .bar:nth-child(2) {
        background-color: #333399;
        width: 15px;
    }

    .bar:nth-child(3) {
        background-color: #66aec7;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        background-color: #002060;
    }

}

@media screen and (max-width: 480px){
    .navbar__container {
        width: 110%;
    }

    .navbar__btn {
        padding-bottom: 2rem;
        padding-left: 2rem;
        margin: 0 0 0 50px;
        width: 300px;
        height: 5px;
    }
}


