.main__container {
	display:flex;
	flex-direction: column;
	width: 100vw;
}

/* Top Div */

.top__div {
	height: 100%;
	display: flex;
	flex-direction: row;
	width: 100vw;
	background: #333399;
	z-index: 10;
	border-radius: 10px;
}

.top__div img {
	height: 50vh;
	width: 50vw;
	animation: fadeIn 1s;
}

.top__desc {
	display: flex;
	flex-direction: column;
}

.div__1 {
	text-align: center;
	font-size: 2rem;
	padding: 20px 0 0 0;
	color: #FA8BFF;
	animation: fadeIn 2s;

}

.div__2 {
	padding: 20px 0 0 10px;
	text-align: center;
	font-size: 1.2rem;
	color: #FA8BFF;
	animation: fadeIn 2.5s;
}

.info__container {
	align-items: center;
}

.info__head {
	margin: 20px 0 20px 50px;
	text-align: center;
	font-size: 2rem;
	color:#fff;
	animation: fadeIn 3s;
}

.info__div__1 {
	font-size: 1.2rem;
	color:#fff;
	animation: fadeIn 3.5s;
	width: 95%;
	padding: 0 20px;
}

.info__div__2 {
	font-size: 1.2rem;
	color:#fff;
	animation: fadeIn 4s;
	width: 95%;
	padding: 5px 20px 0 20px;
}

/* Crew */
.crew__div{
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
	width: 100vw;
	animation: fadeIn 5s;
	/* background: #66aec7;
 */}

.crew__head {
	text-align: center;
	font-size: 3rem;
	color: #333399;
}

.crew__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.crew__card {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	width: 100%;
	height: 300px;
	/* border:1px solid lightcoral; */
}

.crew__card img {
	width: 50%;
}

.crew__info {
	width: 450px;
	background: #092F54;
	color: #fff;
}

.crew__name {
	padding: 20px 0 0 20px;
	font-size: 1.2rem;
	color: #B721FF;
}

.crew__title {
	padding:0 0 0 20px;
	font-size: 1rem;
	color: #21D4FD;
}

.crew_ql {
	padding: 20px 0 0 20px;
}

.form__div {
	padding: 0 20px 0 20px;
	width: 60%;
	justify-self: center;
	animation: fadeIn 2s;
	box-shadow: 2px 1px 2px #66aec7;
	border-radius: 10px;
}

/* Locations */
.location__div {
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	width:100vw;
	height:80vh;
	/* background: #092F54; */
}

.location__div img {
	width:100vw;
	height:80vh;
	object-fit: cover;
	position:absolute;
	animation: fadeIn 5.5s;
}

.location__div h2 {
	padding-top: 60px;
	text-align: center;
	font-size: 2.5rem;
	color: #fff;
	z-index:2;
	animation: fadeIn 6s;
}

.location__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	z-index:2;
	animation: fadeIn 6.5s;
}

.location__card {
	margin: 30px 0 0 20px;
	width: 30vw;
	height:30vh;
	color: #fff;
	text-align: center;
	/* border: 1px solid #fff; */
}

.location__country {
	margin: 30px 0 30px 100px;
	text-align: left;
	font-size: 1.8rem;
}

.location__phone, .location__address {
	margin-left: 100px;
	text-align: left;
}



/* Responsive */
@media screen and (max-width:480px) {

	.top__div {
		height:100%;
		padding-bottom: 10px;
	}

	.div__1 {
		font-size: 1.5rem;
	}
	.div__2 {
		font-size: 1rem;
	}

	.info__head {
		font-size: 2rem;
	}

	.info__div__1, .info__div__2 {
		font-size: 1.2rem;
		margin-left: 10px;
	}

	.crew__wrapper {
		grid-template-columns: 1fr;
	}


}

/* Animations */

@keyframes fadeIn {
	0% { opacity: 0; }
    100% { opacity: 1; }
}



